<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IMessageSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LTSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9194C721FDFD2C300CCFB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9194C8A1FDFD2C400CCFB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9194C951FDFD2C400CCFB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9194CCB1FDFDCE500CCFB32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
